@import "./assets/styles/mixins";
@import "./assets/styles/vars";
/* RESETS */
@import "./assets/styles/reset";
/*END RESETS*/
/* GLOBAL STYLES */
.formGroup>input[type="text"] {
    display: inline-block;
    margin-top: 0.4rem;
}

.btn {
    padding: 0.8rem 1rem 0.7rem;
    border: 0.2rem solid #4d4d4d;
    cursor: pointer;
    text-transform: capitalize;

    &.toggleBtn {
        border-width: 1px;
        border-color: #d3d3d3;
    }

    &.toggleBtn[aria-pressed="true"] {
        text-decoration: underline;
        border-color: #4d4d4d;
    }
}

.btnDanger {
    color: #fff;
    background-color: $danger-bg-color;
    border-color: $danger-border-color;
}

.btnFilter {
    border-color: lightgrey;
}

[class*="Lg"] {
    display: inline-block;
    width: 100%;
    font-size: 1.9rem;

    &:not(:last-child) {
        margin-bottom: 1rem;
    }
}

@include large {
    [class*="Lg"] {
        font-size: 2.4rem;
    }
}

.visuallyHidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}

[class*="stack"]>* {
    margin-top: 0;
    margin-bottom: 0;
}

.stackSmall>*+* {
    margin-top: 1.25rem;
}

.stackLarge>*+* {
    margin-top: 2.5rem;
}

@include small {
    .stackSmall>*+* {
        margin-top: 1.4rem;
    }

    .stackLarge>*+* {
        margin-top: 2.8rem;
    }
}

.stackException {
    margin-top: 1.2rem;
}

/* END GLOBAL STYLES */
/* APP STYLES */
.todoApp {
    background: #fff;
    margin: 2rem 0 4rem 0;
    padding: 1rem;
    position: relative;
    box-shadow:
        0 2px 4px 0 rgba(0, 0, 0, 0.2),
        0 2.5rem 5rem 0 rgba(0, 0, 0, 0.1);

    &>* {
        max-width: 50rem;
        margin-left: auto;
        margin-right: auto;
    }

    &>form {
        max-width: 100%;
    }

    &>h1 {
        display: block;
        max-width: 100%;
        text-align: center;
        margin: 0;
        margin-bottom: 1rem;
    }
}

@include small {
    .todoApp {
        padding: 4rem;
    }
}
/* END APP STYLES */
